<section class="status-box">

  <button 
  id="show-status-btn" 
  class="btn"
  (click)="showStatusForm = !showStatusForm">
    My Status
  </button>
  
  <form 
  *ngIf="!statusType"
  (ngSubmit)="checkStatus(statusForm.value)"
  [formGroup]="statusForm"
  [ngClass]="{'visible': showStatusForm, 'hidden': !showStatusForm}"
  id="status-form">

    <div class="form-control-wrapper">
      <input 
      formControlName="verificationNum"
      id="verificationNum" 
      type="text" 
      name="verificationNum" 
      placeholder="Enter 16 digit applicant ID"
      minlength="16"
      maxlength="16">
    </div>

    <div 
    class="form-error-message"
    *ngIf="statusForm.controls.verificationNum.errors 
    && (statusForm.controls.verificationNum.dirty || statusForm.controls.verificationNum.touched)">
      <span *ngIf="statusForm.controls.verificationNum.errors?.pattern"><i class="fa fa-times-circle"></i> Applicant ID not valid</span>
    </div>

    <div *ngIf="errorMessage" class="form-error-message">
      <i class="fa fa-times-circle"></i> Make sure the applicant ID is correct and try again.
    </div>

    <div class="form-control-wrapper">
      <button 
      id="chk-status-btn" 
      class="btn"
      [disabled]="!statusForm.valid">
        Check Status
      </button>
    </div>

  </form> 

  <section 
  *ngIf="statusType"
  class="status-message" 
  [ngSwitch]="statusType">
    <article *ngSwitchCase="1">
      <div class="status-message-icon">🤗</div>
      <div class="status-message-title">Congratulations!</div>
      <p class="status-message-text">You won a FREE tour to the Chocolate Kingdom</p>
    </article>
    <article *ngSwitchCase="2">
      <div class="status-message-icon">😞</div>
      <div class="status-message-title">Sorry!</div>
      <p class="status-message-text">You did not win a FREE tour to the Chocolate Kingdom</p>
    </article>
    <button 
    (click)="useDifferentId()"
    class="btn btn-darker use-different-id-btn">Use different ID</button>
  </section>

</section>