@import '../mixin';

.status-box{
  width: 100%;
  padding: 5px;
  font-family: $fontPrimary;
  border: 1px solid $colorPrimary;
  border-radius: 5px;
  background-color: $colorPrimaryDarkest;
  .btn{
    width: 100%;
    padding: .6em;
    font-size: 1.3em;
  }
}

#show-status-btn{
  display: block;
  margin: 5px 0px;
}

#status-form{
  display: none;
  &.visible{
    display: block;
  }
}

.form-control-wrapper:first-child{
  margin-bottom: 5px;
}

.form-error-message{
  margin-bottom: 15px;
}

#verificationNum{
  font-weight: 700;
  text-align: center;
  border: 1px solid $colorPrimary;
  color: #fff;
  background-color: transparent;
  &:focus{
    border-width: 2px;
  }
  &::placeholder{
    color: $colorPrimary;
  }
}

.status-message{
  margin: 20px 10px;
  text-align: center;
  color: $colorPrimary;

  .status-message-icon{
    margin: 10px 0px;
    font-size: 3em;
  }

  .status-message-title{
    margin: 10px;
    font-size: 2em;
    font-weight: 500;
  }

  .status-message-text{
    line-height: 1.3;
  }

  .use-different-id-btn{
    margin-top: 15px;
    font-size: 1em;
  }
}

@media all and (min-width: 992px) {
  .status-box{
    width: 320px;
    margin-top: 0px;
    padding: 20px;
  }

  #status-form{
    display: block;
  }

  #show-status-btn{
    display: none;
  }

  .form-control-wrapper:first-child{
    margin-bottom: 20px;
  }
}